body {
margin: 0;
background-color: GhostWhite;
color: #212121;
font-family: 'Montserrat', sans-serif;
background-image: url(https://www.flickr.com/photos/135676174@N08/shares/P7URrX);
background-size: cover;
}
h1 {
text-align: center;
color: #F00;
font-family: 'Montserrat', sans-serif;
font-size: 36px;
}
nav a{
  color: #000000;
  text-decoration: none;
}
nav a:visited{
  color: #000000;
}

section {
  background-color: red;
  height: 200px;
  width: 100%;
  text-align: center;
}

section a {
 color: #FFF;
 border: 1px solid #fff;
 padding: 20px;
 text-decoration: none;
 text-transform: uppercase;
}
