body {
background-color: GhostWhite;
color: #212121;
font-family: 'Open Sans', sans-serif;
background-image: url(https://www.flickr.com/photos/joao_cruz_santos/20087206139/in/explore-2015-08-04/);
background-size: cover;
}
